.cro .top-bar__right { visibility: visible; }

.cro .purchase-list {
  width: 48px;
  height: 48px;
  cursor: pointer;
}
.cro .purchase-list svg {
  fill: #A02971;
  height: 48px;
  width: inherit;
}
.cro #dropdown-avatar .dropdown__arrow {
  right:104px;
}

@media only screen and (max-width: 630px) {
  .cro .top-bar-display-name {
      display: none;
  }
  .cro .purchase-list {
    width: 40px;
    height: 48px;
  }
  .cro .purchase-list svg {
    width: 44px;
  }
  .cro .top-bar__button {
    width: 40px;
  }
  .cro .top-bar__button svg {
    width: 44px;
    min-width: 44px;
    height: 48px;
  }
  .cro #dropdown-avatar .dropdown__arrow {
    right:84px;
  }
}

@media only screen and (max-width: 479px) {
  .cro #dropdown-avatar .dropdown__arrow {
    right:100px;
  }
}

@media only screen and (max-width: 380px) {
  .cro #js-toggle-avatar {
    width: 37px;
  }
  .cro #dropdown-avatar .dropdown__arrow {
    right:26%;
  }
}


/*
84
100*/
