.cro .flag-on,
.cro .flag {
  background-color: #F5E9F0 !important;
}

.cro #ingredients-section .offers {
  padding-top: 2rem;
  display: flex;
}

.cro #ingredients-section .offers > div {
  width: 50%;
  padding: 0 2rem 2rem;
  border: 1px solid #F5F2EE;
}

.cro #ingredients-section .offers > div:first-child {
  border-right: 0;
}

.cro #ingredients-section .offers p {
  margin: 0;
  font-size: 1.4rem;
  text-align: center;
  min-height: 44px;
}

.cro #ingredients-section .offers .price {
  color: #EB1F07;
  height: auto;
  font-weight: bold;
}

.cro #ingredients-section .offers img {
  display: block;
  width: 65%;
  margin: 3rem auto;
}


.cro #ingredients-section .offer-ctas {
  display: flex;
  padding: 0 1.5rem;
  margin: -0.5rem 0 1rem;
}

.cro #ingredients-section .offer-ctas > div {
  width: 50%;
  text-align: center;
}

.cro #ingredients-section .offer-ctas > div a {
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
  width:48px;
  height:48px;
  background: #A02971;
  color:#fff;
  border-radius: 48px;
  line-height: 48px;
  vertical-align: middle;
  margin: 0 auto;
  transition: background .2s ease-in,box-shadow .2s ease-in,color .2s ease-in;
}

.cro #ingredients-section .offer-ctas > div:first-child a {
  background: #94c01f;
}

.cro #ingredients-section .offer-ctas > div a:hover {
  background: #DC438C;
}

.cro #ingredients-section .offer-ctas > div:first-child a:hover {
  background: #b7d56b;
}
