.cro #page h1 {
  visibility: visible;
  padding-top: 26px;
}

.cro .cssSearch .search input {
  margin-bottom: 10px;
}

.cro .coachmark-arrow {
  font-family: IcaHand;
  font-size: 2rem;
  position: relative;
  padding: 2rem 0 0 0;
  margin-top:10px;
  width: 300px;
  text-align: center;
  margin: 0 auto;
}

.cro .coachmark-arrow svg {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 31px;
  -webkit-transform: scale(-1, -1) rotate(-20deg);
  transform: scale(-1, -1) rotate(-20deg);
}

.cro .coachmark-arrow svg g {
  fill: #fff;
}
