.cro #footer,
.cro-frame #footer,
.cro .page .related-recipes,
.cro-frame .page .related-recipes {
  display: none;
}

.cro #footer.visible {
  display: block;
}

.cro #recipe-howto-steps {
  opacity: 1;
}

.cro .loading-area {
  position: relative;
  height:280px;
  background: #f3f0eb;
  text-align: center;
  padding-top: 70px;
  margin-top: -10px;
}

.cro #page {
  height: auto;
  opacity: 1;
  overflow: visible;
}

.cro .recipe-image-square {
  opacity: 1;
  transition: all 0.75s ease-out;
  transition-delay: 0.25s;
}

.cro #page-next .recipe-image-square {
  margin-top: -60px;
  opacity: 0;
}

.cro .page {
  transition: all 0.5s ease-out;
}

.cro .page + .page.recipepage {
  margin-top: -120px;
  padding-top: 0 !important;
}

.cro .page + .page.recipepage.recipepage--small {
  padding-top: 0 !important;
}

.cro .loading-area p {
  width:100%;
  max-width: 500px;
  margin: 0 auto;
  font-size: 1em;
  transition: opacity 0.5s ease-in-out;
}

.cro .loading-area .loading-area-title span {
  font-weight: lighter;
  display: block;
}

.cro .loading-area .loading-area-title {
  font-weight: bold;
}

.cro .loading-area svg {
  width:20px;
  height: 20px;
  opacity: 0;
  display: block;
  margin: 17px auto;
  transition: opacity 0.5s ease-in-out;
}

.cro .loading-area .svg {
  background: #fff;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  margin: 20px auto;
  overflow: hidden;
  position: relative;
}

.cro .loading-area.added svg {
  opacity: 1;
}

.cro .loading-area .lheader,
.cro .loading-area .rname {
  transition: opacity 0.25s ease-in-out;
}

.cro .loading-area .lheader {
  opacity: 1;
}
.cro .loading-area .rname {
  opacity: 0;
  margin-top: -26px;
}

.cro .loading-area.added .lheader {
  opacity: 0;
}
.cro .loading-area.added .rname {
  opacity: 1;
}

.cro .loading-area .svg .loader {
  display: block;
  position: absolute;
  top:0;
  left:0;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  border-bottom: 1rem solid #fff;
  border-right: 1rem solid #fff;
  border-top: 1rem solid #fff;
  border-left: 1rem solid #EB1F07;
}

.cro .loading-area.added .loader {
  opacity: 0;
  -webkit-animation: load8 1.1s 3 linear;
  animation: load8 1.1s 3 linear;
}

.cro .loading-area.reload .loading-area-title {
  font-weight: lighter;
}

.cro .loading-area.added .loading-area-title {
  cursor: pointer;
}

.cro .loading-area.reload .loading-area-title a {
  font-weight: bold;
}

.cro section.comments,
.cro .recipe-details {
  position: relative;
  padding-bottom: 40px;
}
.cro .comments-toggle,
.cro .details-toggle {
  position: absolute;
  top:0;
  margin: 0;
  padding: 0;
  width: auto;
  min-width: 40px;
}

.cro section.comments {
  margin: 20px 0 40px;
}


.cro .recipe-details .row,
.cro .page .comments__inner-wrapper {
  height: 0;
  overflow: hidden;
}

.cro .recipe-details .row.open,
.cro .comments__inner-wrapper.open {
  height: auto;
  margin-bottom: 80px;
}


.cro .recipe-details .row.open + .details-toggle,
.cro .comments__inner-wrapper.open + .comments-toggle {
  display: none;
}

/*.cro .recipe-details .row .button--link,
.cro .comments__inner-wrapper .button--link {
  display: none;
}*/

.cro .icaOnlineBuyButton {
  position: relative;
  height: 50px;
}

.cro .icaOnlineBuyButton button {
  position: absolute;
  left:0;
  top:0;
}

.cro .recipe-wrapper {
  margin-top: -25px;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.cro .recipe-wrapper:first-child {
  margin-top: 0;
  overflow: auto;
}

.cro .recipe-scroll {
  width:100vw;
  height:0;
  border:0;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
}

.cro .recipe-scroll.active {
  height:200vh;
}

.cro #page .hero,
.cro #page .container-backdrop {
  transition: opacity 0.5s ease-in-out;
}

/*.cro #page.prev .hero,
.cro #page.prev .container-backdrop {
  opacity: 1;
}*/


.cro .loading + .loading-area {
  height:0;
  overflow: hidden;
}

.cro #page.prev + .loading-area {
  /*position: fixed;
  width:100vw;
  bottom: 0;*/
}

.cro-frame {
  width:100vw;
  height:200vh;
  border:0;
  overflow: hidden;
}

.cro-frame .top-bar,
.cro-frame .recipe-details,
.cro-frame #comments-section {
  display: none;
}

body.cro-frame.sticky-header {
  padding-top: 0;
}

/*body.cro-frame .recipepage--large {
  padding-top: 70px;
}*/

@media (max-width: 767px) and (min-width: 480px) {
  .cro-frame .recipe-image-square--header {
      margin-top: 0;
  }
}


@media only screen and (max-width: 780px) {
  .cro { }
}


@media only print {
  .cro .page,
  .cro .loading-area {display: none;}
  .cro #page {
    display: block;
    margin-top: 0;
  }
}
