@media (max-width: 767px) { .cro .cro-iframe-container { padding-bottom: 135% !important; } }
.cro > .cro-iframe-container { display: none; }
.cro .modal-copntainer .cro-iframe-container { display: initial; }
.cro .cro-iframe-container {
position: relative;
height: 0;
overflow: hidden;
padding-bottom: 85%;
background-color: #F3F0EB;
-webkit-overflow-scrolling: touch
}
.cro .cro-iframe-container iframe {
opacity: 0;
position: absolute;
top: 0;
left: 0;
overflow: auto;
width: 100px;
min-width: 100%;
height: 100%;
}
.cro .cro-step2-container {
  position: relative;
  min-height: 120px;
}

.cro .easy-signup-header,
.cro .easy-signup-page,
.cro-modal .easy-signup-header,
.cro-modal .easy-signup-page {
  opacity: 1;
}

.cro-modal .easy-signup-header .login_back {
  display: none;
}
html.cro-modal, body.cro-modal {
  background: #fff;
  background-image: none;
}

.pl .cro-iframe-container .loader,
.cro-modal .cro-step2-container.pl .loader {
  margin: -2.5rem;
}
.cro-modal .cro-step2-container.pl .loader {
  display: none;
  position: relative;
  top:0;
  margin-top:2rem;
}

.cro-modal .account-steps,
.cro-modal .easy-signup-header,
.cro-modal header.header_bar,
.cro-modal .container-steps .step .form-wrapper > p,
.cro-modal .container-steps .step2 ol.form li:first-child,
.cro-step2 .step-header,
.cro-modal .easy-signup-page .form-wrapper .payWithCardLinkInfo,
.cro-modal.cro-step1 .container-steps .step .form-wrapper > p.lead {
  display: none;
}
.cro-modal .container-steps .step .form-wrapper > p.lead,
.cro-modal .already_customer_choice .step-header {
  display: block;
}

.cro-modal .step-header {margin-top: 4em;}
.cro-modal .step-header h1 {line-height: 1.1em;}

/*.cro-modal .container-steps {height:1100px;}*/
.cro-modal .container-steps .step {padding-top:0;}
.cro-modal .container-steps .step .form-wrapper {padding-top:3px;}

#step2 {width: 300px; max-width: 100%; height: 0; padding:0; margin: 0 auto; top:-34px; opacity: 0; position: relative; z-index: 2;}
#step2.loaded {height:1000px; opacity: 1;}

.cro-modal .container-steps .step2 {margin: 0 -10px; position: relative;}

.cro-modal fieldset .icon-checkmark,
.cro-modal fieldset label span,
.cro-modal fieldset input {
  transition: opacity 0.25s ease-in-out;
}

.cro-modal fieldset.loading {
  opacity: 1;
}

.cro-modal fieldset.loading .icon-checkmark,
.cro-modal fieldset.loading label span {
  opacity: 0;
}

.cro-modal fieldset.loading input {
  color: #999 !important;
  background: #f7f7f7;
  border-color: #f7f7f7;
  box-shadow: none;
}

.cro-modal fieldset.loading label span.backactive {
  position: absolute;
  opacity: 1;
  z-index:110;
  left:0;
  top:47px;
  width: 100%;
  text-align: right;
}

a.backToStep1 {
  padding:12px 12px 8px;
  cursor: pointer;
  color:#999;
  font-weight: 100;
  text-decoration: underline;
}
a.backToStep1 svg {
  width:15px;
  height:15px;
  fill: #A02971;
  display: inline-block;
  transform: scaleX(-1);
}
a.backToStep1:hover svg {
  fill: #DC438C;
}

.cro-modal .easy-signup-page .step2 .form-wrapper .filled {
  padding-top: 0;
}

span.usp-check {
  display: inline-block;
  font-family: icahand, Arial;
  font-size: 1em;
  margin-right: 2px;
}

span.usp-check::before {
  content:' ';
  display: inline-block;
  background-image: url(/Templates/General/Views/Images/RWD/sprites/general_sprite1.png?1);
  background-repeat: no-repeat;
  background-size: 500px 2433px;
  background-position: -317px -2172px;
  width: 17px;
  height: 15px;
  margin: 2px 4px -2px 6px;
}

.cro-modal .step>.lead {
  margin-bottom: 0;
}

.cro-modal .step1>.lead {
  max-width: 100%;
  padding:0;
  margin:-0.5em 0 1em;
}

.cro-modal .easy-signup-page .confirmation.bg-faded {
  background: transparent;
}
.cro-modal .easy-signup-page .confirmation h2 {
  padding-top:0;
}
.cro-modal .easy-signup-page .confirmation .grid_fluid {
  display: flex;
  text-align: center;
  margin: 30px -10px 0;
}
.cro-modal .easy-signup-page .confirmation .grid_fluid .column {
  padding: 0 10px;
  text-align: center;
}
.cro-modal .easy-signup-page .confirmation .grid_fluid .column a.sprite1-p {
  display: none;
}
.cro-modal .easy-signup-page .confirmation .grid_fluid a {
  color: inherit;
}
.cro-modal .easy-signup-page .confirmation a.backButton {
  display: none;
}

.cro-modal .js-linkinner,
.cro-modal .js-linkinner:hover {
  color: #3F3F40;
}
.cro-modal .easy-signup-page .form-wrapper .payWithCard {
  padding:0;
}
.cro-modal .easy-signup-page .already_customer_choice .choices a {
  background: #f7f7f7;
}

.cro .pl .pl-modal .pl-modal__window--md {
  z-index: 1;
}
.pl-modal-cover {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  z-index: 0;
}

.cro-modal .btn-container {
  text-align: center;
  margin-top: 20px;
}

.cro-modal .required-wrapper span {
  left:0;
}

.cro-modal .easy-signup-page .form-wrapper .filled {
  width:300px;
  max-width: 100%;
  padding: 22px 0px;
}

@media only screen and (max-width: 479px){
  span.usp-check {
    display: block;
    padding:0.5em 0 0;
  }
  .cro-modal .step-header {
    margin-top: 20px;
  }
  .cro-modal .easy-signup-page .step-header,
  .cro-modal .step1>.lead {
    width: 100%;
    max-width: 300px;
    text-align: left;
    margin: 1.5em auto 0;
    padding: 0;
  }
}
