.cro .recipes .mdsa article .content.sm_hidden,
.cro .filtersegment a[data-hits].show-hits:after,
.cro .recipe .yellow-stars dt,
.cro .recipe .yellow-stars .votes,
.cro .recipes .mdsa article .content .votes.small,
.cro .recipe .recipe-info li {
  display: none;
}

.cro h1 .mini-title,
.cro h1 + p,
.cro .tag-container {
  display: none !important;
}

.cro .save-recipe-button a {
  display: inline-block;
  margin-top: 50px;
  width: 30px;
  height: 24px;
  overflow: hidden;
}

.cro .filtersegment a {
  text-transform: lowercase;
}

.cro .recipe {
  position: relative;
}

.cro .recipe header h2 {
  position: absolute;
  top:46px;
  padding-right: 70px;
}

.cro .recipes .mdsa:not(.thumb-view) article h2 a {
  font-size: 30px;
  line-height: 1.1;
}

.cro .recipe .recipe-info li.md_lte_hidden {
  display: inline-block;
  margin-top: 0;
}
.cro .recipe .recipe-info li {
  padding-left: 0;
  margin-left: 0;
  border: none;
}

.cro .recipe .yellow-stars,
.cro .recipe .time,
.cro .recipe footer {
  display: inline-block;
  position: relative;
  vertical-align: top;
  line-height: 16px;
  margin-top: -5px;
}

.cro .recipe .time {
  border-left: 1px solid rgba(0,0,0,0.2);
  border-right: 1px solid rgba(0,0,0,0.2);
  padding: 0 10px 0 25px;
  margin-left: 4px;
  margin-right: 8px;
  color: #756f67;
  height: 16px;
}

.cro .recipe .time svg {
  position: absolute;
  top:2px;
  left: 10px;
  width: 11px;
  height: 11px;
  margin-right: 5px;
  fill: #756f67;
}

.cro .main-content {
  margin-top: -40px;
}

.cro fieldset.search {
  max-width: 300px;
}

.cro .search-container {
  max-width: 340px;
  margin: 0 auto;
}

/*.cro #content > .grid_fluid {
  max-width: 960px;
  margin: 0 auto;
}*/

.cro .filtermenu fieldset.contractable {
  margin-bottom: 0;
  border-bottom: 1px solid #e6e4e2;
}

.cro .filtermenu fieldset.contractable>ul {
  height: 0;
  margin: 0;
}

.cro .filtermenu fieldset.contractable:not(.contracted) {
  margin-bottom: 20px;
}

.cro .filtermenu fieldset.contractable.contracted+.contractable:not(.contracted) {
  margin-top: 20px;
}

.cro .filtermenu {
  opacity: 0 !important;
  -webkit-transition: height 0.3s ease-out, margin 0.3s 0.15s ease-out;
  transition: height 0.3s ease-out, margin 0.3s 0.15s ease-out;
}

.cro .filtermenu.loaded {
  opacity: 1 !important;
}

.cro .filtermenu fieldset.contractable.selected {
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0;
}

.cro .filtermenu fieldset.contractable.selected>ul {
  height: auto;
}

/*.cro .grid_fluid .column.lg_size14of20 {
  width: 70%;
}*/

.cro .recipes .mdsa article figure {
  padding-bottom: 0;
  height: auto;
}


@media only screen and (max-width: 699px) {
  .cro .filtermenu .filter-toggle-button.toggle.button {
    margin-top: 10px;
  }
  .cro .page-header .searchicon {
    display: none;
  }
  /*.cro .grid_fluid .column.lg_size14of20 {
    width: 100%;
  }*/
}


@media only screen and (min-width: 980px) {
  .cro .grid_fluid .column.xl_size16of20 {
    width: 75%;
  }
}
