.cro .filtermenu fieldset, .cro .filtermenu fieldset ul, .cro .filtermenu fieldset li {
  -webkit-transition: height 0.3s ease-out, margin 0.3s 0.15s ease-out, opacity 0.3s linear !important;
  transition: height 0.3s ease-out, margin 0.3s 0.15s ease-out, opacity 0.3s linear !important;
}

.cro #content,
.cro .recipes article footer {
  visibility: visible;
}

.cro .recipes .mdsa article .content.sm_hidden,
.cro .filtersegment a[data-hits].show-hits:after,
.cro .recipe .yellow-stars dt,
.cro .recipe .yellow-stars .votes,
.cro .recipes .mdsa article .content .votes.small,
.cro .recipe .recipe-info li {
  display: none;
}

.cro h1 .mini-title,
.cro h1 + p,
.cro .tag-container {
  display: none !important;
}

.cro .save-recipe-button {
  /*float: none;
  margin-top: 5px;*/
  display: none;
}

/*.cro .save-recipe-button a {
  font-size: 12px;
}

.cro .save-recipe-button a::before {
  display: none;
}

.cro .save-recipe-button a span {
  display: inline-block;
  background: rgba(160, 41, 113, 0.1);
  padding:12px;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin: 0 10px 0 -2px;
}

.cro .save-recipe-button a span svg {
  display: inline;
  fill: #A02971;
}*/

.cro .filtersegment a {
  text-transform: lowercase;
}

.cro .recipe {
  position: relative !important;
  display: flex;
  align-items: center;
}

.cro .recipes .mdsa:not(.thumb-view) article:not(.lazyhide):not(.digital-coupon):before {
  top:0;
  visibility: visible;
}

.cro .recipes .mdsa:not(.thumb-view) article .column {
  min-width: 140px;
}

.cro .recipe {
  position: relative;
  display: flex;
  align-items: center;
}

.cro .recipes .mdsa:not(.thumb-view) article h2 a {
  font-size: 30px;
  line-height: 1.1;
  font-weight: normal;
  margin-bottom: 1em;
}

.cro .recipe header {
  margin: 5px 0 10px;
  max-width: 400px;
}

.cro .recipe .recipe-info li.md_lte_hidden {
  display: inline-block;
  margin-top: 0;
}
.cro .recipe .recipe-info li {
  padding-left: 0;
  margin-left: 0;
  border: none;
}

.cro .recipe .yellow-stars,
.cro .recipe .time,
.cro .recipe footer {
  display: inline-block;
  position: relative;
  vertical-align: top;
  line-height: 16px;
}

.cro .recipe .time {
  border-left: 1px solid rgba(0,0,0,0.2);
  border-right: 1px solid rgba(0,0,0,0.2);
  padding: 0 18px 0 34px;
  margin-left: 10px;
  margin-right: 18px;
  color: #756f67;
  height: 16px;
}

.cro .recipe .time svg {
  position: absolute;
  top:2px;
  left: 18px;
  width: 11px;
  height: 11px;
  margin-right: 5px;
  fill: #756f67;
}

.cro .main-content {
  margin-top: -40px;
}

.cro fieldset.search {
  max-width: 300px;
}

.cro .search-container,
.cro header.page-header .recipe-search {
  max-width: 300px;
  margin: 0 auto;
}

.cro .filter-search {
  margin-top: 0;
}

.cro #content > header > div:first-child h1 {
  padding-top: 20px;
  padding-bottom: 19px;
}

.cro .filtermenu fieldset.contractable {
  margin-bottom: 0;
  border-bottom: 1px solid #e6e4e2;
}

.cro .filtermenu fieldset.contractable>ul {
  height: 0;
  margin: 0;
}

.cro .filtermenu fieldset.contractable:not(.contracted) {
  margin-bottom: 20px;
}

.cro .filtermenu fieldset.contractable.contracted+.contractable:not(.contracted) {
  margin-top: 20px;
}

.cro .filtermenu {
  opacity: 0 !important;
  -webkit-transition: height 0.3s ease-out, margin 0.3s 0.15s ease-out;
  transition: height 0.3s ease-out, margin 0.3s 0.15s ease-out;
}

.cro .filtermenu.loaded {
  opacity: 1 !important;
}

.cro .filtermenu fieldset.contractable.selected {
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0;
}

.cro .filtermenu fieldset.contractable.selected>ul {
  height: auto;
}

.cro #content > div.grid_fluid > div:first-child {
  margin-top: -40px;
}

@media only screen and (max-width: 460px) {
  .cro .recipe .yellow-stars {
    display: block;
  }
  .cro .recipe .time {
    margin-left: 0;
    padding-left: 18px;
    border-left: none;
  }
  .cro .recipe .time svg {
    left: 0;
  }
}

@media only screen and (max-width: 340px) {
  .cro .recipe .time {
    padding-right: 6px;
    margin-right: 6px;
  }
}

@media only screen and (max-width: 699px) {
  .cro .filtermenu .filter-toggle-button.toggle.button {
    margin-top: 10px;
  }
  .cro .page-header .searchicon {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .cro .recipes .mdsa:not(.thumb-view) article h2 a {
    font-size: 24px;
  }
}

@media only screen and (max-width: 500px) {
  .cro .recipes .mdsa:not(.thumb-view) article h2 a {
    font-size: 18px;
  }
}

@media only screen and (min-width: 980px) {
  .cro .grid_fluid .column.xl_size16of20 {
    width: 80%;
  }
}
