.cro .recipes .mdsa article .content.sm_hidden {
  display: none;
}
.cro .save-recipe-button a {
  display: inline-block;
  margin-top: 50px;
  width: 30px;
  height: 24px;
  overflow: hidden;
}

.cro .filtersegment a[data-hits].show-hits:after {
  display: none;
}

.cro .filtersegment a {
  text-transform: lowercase;
}

.cro .recipe {
  position: relative;
}

.cro .recipe header h2 {
  position: absolute;
  top:50px;
}

.cro .recipe .yellow-stars dt,
.cro .recipe .yellow-stars .votes,
.cro .recipe .recipe-info li:first-child {
  display: none;
}

.cro .recipe .yellow-stars,
.cro .recipe footer {
  display: inline-block;
  vertical-align: top;
  line-height: 16px;
}

.cro .main-content {
  margin-top: -40px;
}

.cro fieldset.search {
  max-width: 300px;
}
.cro .search-container {
  max-width: 340px;
  margin: 0 auto;
}

.cro #content > .grid_fluid {
  max-width: 960px;
  margin: 0 auto;
}

@media only screen and (max-width: 780px) {
  .cro { }
}
