.cro .sticky-nav-buttons {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  z-index: 1000;
  transition: all 0.1s ease-in-out;
}
.cro .sticky-nav-buttons.hidden {
  bottom: -50px;
}
.cro .sticky-nav-buttons div {
  display: block;
  width: 50%;
  height: 40px;
}
.cro .sticky-nav-buttons a {
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: 0.8em;
  text-align: center;
}
.cro .sticky-nav-buttons a:first-child {
  border-right:1px solid #eee;
}
.cro .footer-sub-nav {
  margin-bottom: 40px;
}

@media only screen and (max-width: 780px) {
  .cro { }
}
