.cro article.flag-on .icon-offer,
.cro .ingredients__list__item.flag .icon-offer {
  display: block;
  position: absolute;
  width:48px;
  height:40px;
  right:3rem;
  margin-top: 5px;
}

.cro article .icon-offer {
  display: none;
}

.cro article .icon-offer svg {
  width:60px;
  height: 60px;
}

.cro article.flag-on header,
.cro article.flag-on .content.sm_hidden a p {
  padding-right: 6rem;
}

.cro .ingredients__list__item.flag .icon-offer {
  position: static;
  float: right;
  margin: -10px 3px 0 0;
}

.cro #ingredients-section .offer {
  padding: 0;
  margin: 20px auto 0;
  border: 15px solid #F8C8DF;
  max-width: 580px;
  cursor: pointer;
}

.cro #ingredients-section .offer .row {
  padding: 10px;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.cro #ingredients-section .offer svg {
  width: 100px;
  position: absolute;
  right: -12px;
  top:0;
  margin-top:-3px;
}

.cro #ingredients-section .offer a {
  font-size: 1.4rem;
  margin:0 0 10px;
}

.cro #ingredients-section .offer p {
  padding-right: 70px;
}

.cro #ingredients-section .offer .title {
  font-family: 'IcaRubrik';
  margin-top: 10px;
  color: #3F3F40;
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 900;
}

.cro #ingredients-section .offer .price {
  color: #EB1F07;
  height: auto;
  font-weight: bold;
  margin-bottom: 0;
}


.cro #ingredients-section .offer .info {
  color: #808283;
  font-size: 1.3rem;
  line-height: 1;
  margin: 5px 0 0;
}

.cro #ingredients-section .offer .link {
  margin: 4px 0 2px;
}

.cro #ingredients-section .offer img {
  display: block;
  height: auto;
  max-width: 100%;
  width: auto;
  padding:10px;
}

.cro .hse-campaign__header {
  margin-bottom:10px;
}

.cro .hse-campaign__offer__image img {
  width: 100%;
}


/*.cro #ingredients-section .offer-ctas {
  display: none;
}
.cro #ingredients-section .offer-ctas > div a {
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
  width:48px;
  height:48px;
  background: #A02971;
  color:#fff;
  border-radius: 48px;
  line-height: 48px;
  vertical-align: middle;
  margin: 0 auto;
  transition: background .2s ease-in,box-shadow .2s ease-in,color .2s ease-in;
}
.cro #ingredients-section .offer-ctas > div:first-child a {
  background: #94c01f;
}
.cro #ingredients-section .offer-ctas > div:first-child a:hover {
  background: #b7d56b;
}*/


@media (max-width: 700px) {
  .cro article.flag-on .icon-offer {
    margin-top:-5px;
    right:15px;
  }
}
@media (max-width: 360px) {
  .cro #ingredients-section .offer p {
    padding-right: 0;
  }
  .cro #ingredients-section .offer .title {
    padding-right: 70px;
    font-size: 1.4rem;
  }
  .cro #ingredients-section .offer .price {
    font-size: 2.2rem;
  }
  .cro #ingredients-section .offer.pl .col-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 30%;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
  }
  .cro #ingredients-section .offer.pl .col-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 70%;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70%;
  }
  .cro #ingredients-section .offer svg {
    width: 90px;
  }
  .cro #ingredients-section .offer img {
    padding:0 5px 0 0;
  }
}
@media (max-width: 330px) {
  .cro article.flag-on .icon-offer {
    right:10px;
  }
}
