.cro .toprecipes-list.cro-search,
.cro .toprecipes-list .save-recipe-button,
.cro .toprecipes-list dl.inline dt,
.cro .toprecipes-list meter,
.cro .toprecipes-list.mdsa:not(.thumb-view) article::before {
  display: none;
}

.cro .recipes.grid_fluid .mdsa:not(.thumb-view).toprecipes-list {
  margin-top: 10px;
  padding:0;
  display: none;
}

.cro .recipes.grid_fluid .mdsa:not(.thumb-view).toprecipes-list.loaded {
  display: block;
}

.cro .toprecipes-list h3 {
  text-align: center;
  margin: 0;
  padding:10px;
  max-width: 100%;
  /*background: #f5faf4;*/
}

.cro .toprecipes-list h3 svg {
  width:240px;
  margin:10px 0 0;
}

.toprecipes-list-wrapper {
  display: flex;
  padding:0 10px 30px;
  /*background: #f5faf4;*/
}

.cro .toprecipes-list > article {
  display: none;
}

.cro .toprecipes-list .toprecipes-list-wrapper article {
  flex: 0 0 33.3%;
  padding: 0 10px;
}

.cro .recipes .toprecipes-list.mdsa:not(.thumb-view) article h2 a {
  font-size: 1.6rem;
}

.cro .info-column {
  margin-top: 10px;
}

.cro .info-column footer .ingredients {
  width: auto !important;
}

.cro .toprecipes-list.mdsa .rating {
  margin-right: 5px;
}

.cro .toprecipes-list.mdsa .rate-recipe .small.votes {
  margin: 0;
}

@media only screen and (max-width: 500px) {

  .cro .toprecipes-list .toprecipes-list-wrapper article {
    flex: 0 0 50%;
  }
  .toprecipe-3 {
    display: none;
  }
  .cro .toprecipes-list h3 svg {
    width:200px;
  }

}
