.cro header .image-slider {
  position: absolute !important;
}
.start-page-icase #header {
  height: 460px;
}
.cro .recipe-category-listing {
  border-bottom: 1px solid #E7E7E7;
  padding-bottom: 20px;
}
.cro .unslider-controls {
  display: none;
}
.cro .pl .container-backdrop {
  padding: 0px 10px 30px;
}
.cro .search-recipe-container__all-recipes {
  font-size: 2.2rem;
}
.coupon-banner {
  text-align: center;
  margin-bottom: 30px;
}
.coupon-banner img {
  margin: 10px 0;
  max-height: 120px;
}
.cro .search-recipe-container {
  margin-bottom: 20px;
}
.cro .search-recipe-container img {
  margin-bottom: 20px;
}
.cro .search-recipe-container h1, .coupon-banner h1 {
  font-size: 2.8rem;
}
.cro .shadow .coupons-container__item img {
  width: 100% !important;
  margin-left: 0 !important;
}

.cro .has-hover .image-slider li.active,
.cro .unslider-controls {
  z-index: 21 !important;
}

.cro .banner-container {
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 0 5px;
  z-index: 20 !important;
}
.cro .banner-wrapper {
  /*position: relative;*/
  max-width: 1260px;
  margin: 0 auto;
  height: 420px;
}

.cro .coupons-container {
  position: absolute;
  top: 200px;
  width: 100%;
  z-index: 999;
}

.cro .coupons-wrapper {
  display: flex;
  flex-direction: row;
  margin: 0 5px;
}

.cro .coupons-container .coupons-container__item {
  background-color: white;
  width: 50%;
  margin: 0 4px;
  padding: 10px;
  border: 8px solid rgba(217,20,99,0.1);
  border-bottom-width: 17px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.cro .coupons-container .coupons-container__item:after {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMTAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDIwIDEwOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHN0eWxlIHR5cGU9InRleHQvY3NzIj4uc3Qwe2ZpbGw6I2ZmZjt9PC9zdHlsZT48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMTAsMi41Yy00LjEsMC03LjUsMy40LTcuNSw3LjVoMTVDMTcuNSw1LjksMTQuMiwyLjUsMTAsMi41eiIvPjwvc3ZnPg==) space;
  background-size: 26px 13px;
  content: '';
  display: block;
  width: 140%;
  height: 13px;
  position: absolute;
  bottom: -17px;
  left: -30px;
}

.cro .coupons-container .coupons-container__item:after svg {
  fill: #333;
}

.cro .coupons-container .coupons-container__item img {
  width: 60% !important;
  margin-left: 0 !important;
  height: auto !important;
  margin: 0 auto !important;
}

.cro .coupons-container .coupons-container__item h3 {
  font-size: 16px;
  line-height: 1.3em;
}

.cro .coupons-container .coupons-container__item h1 {
  font-size: 22px;
  font-weight: 700;
  color: #EB1F07;
  line-height: 15px;
}

.cro .coupons-container .coupons-container__item h4 {
  color: #808283;
  font-size: 1.3rem;
  line-height: 1;
  font-family: icatext;
  font-weight: normal;
}

.cro .coupons-container .coupons-container__item a {
  font-size: 14px;
  line-height: 15px;
  margin-bottom: 5px;
}

.cro .coupons-container .coupons-container__item .coupon-button {
  font-size: 12px;
  line-height: 2.2rem;
  min-width: auto;
  align-self: center;
  width: 100%;
  background: #F8EBF3;
  color: #A02971;
}

.cro .coupons-container .coupons-container__item.offer-loaded .coupon-button {
  background: #DDE9BF;
  color: #8DB72C;
  pointer-events: none;
  transition: width .2s ease, color .2s 250ms ease, background .2s ease;
}

.cro .coupons-container .coupons-container__item .coupons-image {
  width: 100%;
  height: 60px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.cro .banner-wrapper .banner-image img {
  width: 100%;
  position: relative;
  margin-left: 0 !important;
  height: auto !important;
  min-width: 375px;
}

.cro .button-wrapper {
  padding: 0 10px;
  position: absolute;
  top: 140px;
  width: 100%;
}

.cro .banner-wrapper .banner-button {
  width: 100%;
}

.cro .offers-button {
  width: 100%;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .cro .banner-wrapper {

  }
}

.cro .rating-star-container {
  position: absolute;
  z-index: 50;
  margin:10px;
  top: 30px;
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.cro .rating-star-container a {
  color: white;
}

.cro .rating-star-container .headline {
  font-size: 36px;
  margin-bottom: 5px;
  margin-top: 5px;
  max-width: none;
  font-family: icarubrik;
  font-weight: 600;
  line-height: 3rem;
}

.cro .rating-star-container .difficulty {
  text-transform: uppercase;
  font: 16px icatext;
  font-weight: 900;
  margin-top: 6px;
}

.cro .rating-star-container .offer-text {
  font: 19px icatext, sans-serif;
  font-weight: 600;
}
.cro .rating-star-container svg .active {
  fill: #EB1F07;
}
.cro .rating-star-container svg {
  display: inline-block;
  fill: #D5D7DA;
  height: 18px;
  vertical-align: middle;
  width: 91px;
  -webkit-filter: drop-shadow( 1px 1px 2px rgba(0,0,0,0.4) );
  filter: drop-shadow( 1px 1px 2px rgba(0,0,0,0.4) );
}

.cro .ica-card-container {
  display: flex;
  flex-direction: column;
  min-height: 250px;
}

.cro .ica-card-container h1 {
  color: #EB1F07;
}

.cro .ica-card-container a {
  align-self: flex-start;
  max-width: 250px;
  margin-top:-160px;
}

.cro .ica-card-container img {
  max-width: 385px;
  width: 80%;
  align-self: flex-end;
  margin-top:-120px;
}

@media only screen and (max-width: 960px){
  .cro .ica-card-container {
    min-height: none;
  }

  .cro .ica-card-container h1 {
    line-height: 3rem;
    font-size: 3rem;
    margin-bottom: 20px;
  }

  .cro .ica-card-container a {
    align-self: center;
    margin-top: 20px;
    max-width: none;
    width: 100%;
  }

  .cro .ica-card-container img {
    align-self: center;
    margin-top:auto;
  }

  .cro .offers-container {
    width: 100%;
    background-color: white;
    -webkit-filter: drop-shadow( 1px 1px 2px rgba(0,0,0,0.4) );
    filter: drop-shadow( 1px 1px 2px rgba(0,0,0,0.4) );
  }

  .start-page-icase > header.full-size-image .image-slider,
  .start-page-icase > header.full-size-image .image-slider ul,
  .start-page-icase > header.full-size-image .image-slider li {
    max-height: 100%;
    height: 100% !important;
  }
}
.cro .unslider-controls { pointer-events: none; }
.cro .unslider-arrow { pointer-events: auto; }

@media (max-width: 767px) { .cro .cro-iframe-container { padding-bottom: 135% !important; } }
.cro > .cro-iframe-container { display: none; }
.cro .modal-copntainer .cro-iframe-container { display: initial; }
.cro .container { text-align: center; margin-top: 50px;}
.cro .container h2 { font: 28px icahand; margin-bottom: 20px; }
.cro .cro-iframe-container {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 85%;
  background-color: #F3F0EB;
}
.cro .cro-iframe-container iframe {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cro .usp-list { margin-bottom: 10px; }

.cro .usp-list li {
  font: 24px icarubrik;
  font-weight: 600;
  margin-bottom: 15px;
}
.cro .usp-list svg {
  fill: #8DB72C;
  margin-right: 5px;
}
