/* fäll ihop filtermenyn */
.cro .filtermenu {
 opacity: 0 !important;
}

.cro .filtermenu.loaded {
  opacity: 1 !important;
}

.cro .filtermenu:not(.open) {
  overflow: hidden;
}

.cro .filtermenu fieldset.contractable {
  border-bottom: 1px solid #e6e4e2;
}

.cro .filtermenu fieldset.contractable:not(.selected) {
  margin-bottom: 0;
}

.cro .filtermenu fieldset.contractable:not(.selected)>ul {
  height: 0;
  margin-bottom: 0;
}

.cro .filtermenu fieldset.contractable.open {
  margin: 20px 0;
}

.cro .filtermenu fieldset.contractable.selected {
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0;
}

.cro .filtermenu fieldset.contractable.selected>ul {
  height: auto;
}

.cro .filtermenu fieldset.contractable:not(.open) legend::before,
.cro .filtermenu fieldset.contractable.open legend::after {
  opacity: 1;
}

.cro .filtermenu fieldset.contractable:not(.open) legend::after,
.cro .filtermenu fieldset.contractable.open legend::before {
  opacity: 0;
}

.cro .filtermenu fieldset.contractable:not(.selected)>ul {
 height: 0 !important;
 margin-bottom: 0;
}
.cro .filtermenu fieldset.contractable.open>ul,
.cro .filtermenu fieldset.contractable.selected>ul {
 height: auto !important;
}
