.cro { }
@media only screen and (max-width: 780px) {
  .cro { }
}

.cro .breadcrumb {
  list-style-type: none;
  font-size: 14px;
  padding-left: 10px;
}
.cro ul.breadcrumb {
  padding-left: 0px;
  width: 45vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 10px;
  text-transform: none;
}
.cro .breadcrumb li {
  display: inline;
  color: #808283;
}
.cro .breadcrumb li a {
  text-decoration: none;
  color: #343434;
  font-size: 14px;
}
.cro .breadcrumb li a:hover {
  color: #DC438C;
}
.cro .breadcrumb li::after {
  border-right: 1px solid #D5D7DA;
  border-top: 1px solid #D5D7DA;
  content: '';
  display: inline-block;
  height: 8px;
  margin: 0 15px;
  transform: translate(-5px, 0) rotate(45deg);
  width: 8px;
}
.cro .breadcrumb li:last-child::after {
  border : 0;
}
.cro span.cooking-time {
 padding-left: 20px;
 font-size: 14px;
}
.cro .rating-stars {
  margin-right: 0 !important;
}
