.cro { }
@media only screen and (max-width: 780px) {
  .cro { }
}

.cro .breadcrumb {
  backgroundColor: white;
  listStyleType: none;
  fontSize: 14px;
  paddingLeft: 10px;
}
.cro .breadcrumb li {
  display: inline;
  paddingRight: 6px;
}
.cro .breadcrumb li a {
  textDecoration: none;
}
