@media only screen and (max-width: 780px) {
  .cro { }
}

.cro a.button.button--heart {
  display: none;
}

.cro div.new-save-field a.button.button--heart {
  display: inline-block;
}

.cro div.new-save-field {
  position: absolute;
  right: 0;
  top: -5px;
  z-index: 10;
}

.cro .icon-heart:before {
    content: "";
    display: inline-block;
    width: 28px;
    height: 24px;
    background-position: -12px -253px;
    background-repeat: no-repeat;
    vertical-align: middle;
    /*margin-right: 1rem; */
  }

.cro .icon-heart:hover:before {
    background-position: -12px -303px;
}

.cro div.new-save-field a.button--active {
  background-color: transparent;
  color: #e10000;
}

.cro .button--active.icon-heart:before {
  background-position: -62px -253px;
}
