#copy-url {
  position: absolute;
  left:-9999px;
}

.cro .button--copy {
  min-width: 1px;
  padding: 0 0 0 20px; /*0 20px 0 3.6rem;*/
  margin-left: 20px;
}

.cro .button--copy svg {
  position: absolute;
  height: 2rem;
  width: 2rem;
  top: 1.4rem;
  margin-left: -2.4rem;
}

.cro .recipe-action-buttons .button--print {
  visibility: visible;
  min-width: 1px;
  padding-left: 20px;
}

@media (max-width: 400px) {
  .cro .button--copy {
    padding: 0 0 0 20px;
    margin-left: 12px;
  }
  .cro .recipe-action-buttons .button--heart {
    padding-left: 20px;
    padding-right: 20px;
  }
  .cro .recipe-action-buttons .button--print {
    padding-left: 16px;
  }
}

/* #E16E30 orange
    background-position: -307px -65px;
    .sprite2, .sprite2-p:after, .sprite2-p:before */

.cro #copy-link-message {
  display: block;
  bottom: 0;
  transition: all .2s ease-out;
  background-color: #7db66d;
  color: #ffffff;
}

.cro #copy-link-message.copy-link-error {
  background-color: #E16E30;
}

.cro #copy-link-message.copy-link-hidden {
  display: block;
  bottom: -48px;
}

.cro .bottom-alerts #copy-link-message.notice .notice-close {
  background-position: -307px -65px;
  top: 2px;
  right: 0px;
}

@media (max-width: 340px) {
  .cro .recipe-action-buttons .button--heart {
    padding-left: 15px;
    padding-right: 15px;
  }
}
