.account-steps ul {
  width: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.account-steps li {
  border-radius: 50%;
	width: 40px;
	height: 40px;
  margin: 10px;
  text-align: center;
}

.account-steps li label {
  font-size: .8em;
  display: block;
  margin-top: 10px;
}

input {
  box-shadow: none;
}
input:focus {
  padding-bottom: 10px;
  outline: none;
  border-bottom: 1px solid #dbdbdb;
}

input.masking {
  font-family: courier;
  letter-spacing: 7px;
  word-spacing: 5px;
  font-size: 14px;
  padding-right: 0 !important;
  background: transparent;
}
input.masking__crn {
  background-image: url('data:image/svg+xml;utf8, <svg width="104px" height="39px" viewBox="0 0 104 39" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square"><g id="Group" transform="translate(-1.000000, 0.000000)" stroke="#DBDBDB"><path d="M1.5,0.5 L1.5,38.5" id="Line"></path><path d="M54.5,0.5 L54.5,38.5" id="Line"></path><path d="M104.5,0.5 L104.5,38.5" id="Line"></path></g></g></svg>');
  background-repeat: no-repeat;
  background-position: 77px;
}

.easy-signup-page .form-wrapper fieldset {
  width: auto;
}

.validation-error {
  background-color: red !important;
}
.tooltip-wrapper {
  display: flex;
}
.validate-box {
  width: 40px;
  height: 38px;
  background-color: #EEE;
  border: 1px solid #dbdbdb;
  border-left: 0;
}
@media only screen and (max-width: 780px) {
  .cro { }
}
